<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить/Редактировать</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
	<div th:replace="~{commons :: nav}"></div>
	
	<section class="editCategory">
	    <div class="container">
	        <div class="row">
	        <div class="col-12 col-md-12 col-lg-8 mx-auto">
				 <h2 class="text-center">Группа</h2>
	             <form th:action="@{/group/create}" th:object="${entity}" method="post" class="register">
	                <table>
	                    <tbody>
	                        <tr>
	                            <th><label class="mx-2">Название</label></th>
	                            <td><input type="text" th:field="*{name}" class="form-control" required/></td>
	                        </tr>
	                        <tr>
	                            <th><label class="mx-2">Год основания</label></th>
	                            <td><input type="number" th:field="*{yearStart}" class="form-control" required step="1" min="2015" max="2222"/></td>
	                        </tr>
	                        <tr>
	                            <th><label class="mx-2">Год выпуска</label></th>
	                            <td><input type="number" th:field="*{yearEnd}" class="form-control" required step="1" min="2015" max="2222"/></td>
	                        </tr>
	                       
	                    </tbody>
	                </table>
	                <p class="my-5 justify-content-between d-flex">
	                	<input type="hidden" id="id" th:field="*{id}">
	                	<input type="button" class="btn btn-primary" value = " Назад " onclick="history.back()"/> 
	                	<input type="submit" class="btn btn-primary" value=" Отправить ">
	            	</p>
	            </form>
	        </div>
	        </div>
	    </div>    
	</section>    
    
</body>
 
</html>