<!doctype html>
<html lang="en">
<head>
	<title>Главная</title>
	<div th:replace="~{commons :: head}"></div>
</head>
<body>
	<div th:replace="~{commons :: nav}"></div>
	<h1 class="text-center">Выберите пункт меню</h1>
	<section class="session-list"> 
	    <div class="container my-2">
	        <div class="">
	            <div class="row">
	                <div class="col">
	                   <h3 th:text="'Количество групп: '+${#lists.size(groups)}"></h3>
	                   <h3 th:text="'Количество студентов: '+${#lists.size(students)}"></h3>
	            </div>
	        </div>
	    </div>
	</section>
</body>
</html>